html, body {
  line-height: 1.5;
  color: #000;
  background-color: #f0dbdb;
}

#navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0,22,22,0.4)
}

header{
  color: black;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header{
  text-align:left;
  margin:0px;
}

#navbar ul{
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
}
#navbar li{
  color: #4d4e53;
  padding:8px;
  padding-left:45px;
  list-style: none;
  position:relative;
  left:-50px;
  width:100%;
}

#navbar a{
  color: #4d4e53;
    text-decoration:none;
    cursor:pointer;
} 

#main-doc{
  position: absolute;
  margin-left:310px;
  padding:20px;
  margin-bottom:110px;
}

section article{
  color: #4d4e53;
  margin:15px;
  font-size:0.96em;
}

.code {
  margin-top: 25px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(255, 255, 255);
  tab-size: 1.5em;
  background: rgb(40, 44, 52);
  border-radius: 10px;
  overflow: auto;
}

.code-html {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  height: auto !important;
  margin: 1rem;
}

.tag {
    color: rgb(252, 146, 158);
}

.punctuation {
    color: rgb(136, 198, 190);
  }
  
.keyword {
    color: rgb(197, 165, 197);
  }  
  
.operator, .entity, .url, .variable {
    color: rgb(215, 222, 234);
  }
  @media only screen and (max-width: 400px) {
  #main-doc{
    margin-left:-10px;
  }
  .code{
    margin-left:-20px;
    width:100%;
    padding:15px;
    padding-left:10px;
    padding-right:45px;
    min-width:233px;
  }
}